<!-- navbar -->
<nav class="navbar text-light bg-primary">
  <div class="container-fluid">
    <a class="text-white navbar-brand" href="#">
      <p class="text-center"><i class="fa-solid fa-home"></i> Bank app</p>
    </a>
  </div>
</nav>


<div class="container">
  <div class="row text-center">
    <img width="100px" height="300px"
      src="https://cdn.dribbble.com/users/1175431/screenshots/6188233/404-error-dribbble-800x600.gif" alt="">

    <h5>website content has been removed...</h5>
    <p>Page Not Found</p>
    <div>
      <button routerLink="" class="btn btn-primary m-3">Back to site</button>
    </div>
  </div>
</div>

<!-- footer -->

<section class=" mt-5">
  <!-- Footer -->
  <footer class="text-center text-white" style="background-color: #0d477e;">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: CTA -->
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Register for free</span>
          <button type="button" class="btn btn-outline-light btn-rounded">
            Sign up!
          </button>
        </p>
      </section>
      <!-- Section: CTA -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">Bank app.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>